@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #41eb96;
}

section {
  padding: 5rem 9%;
}

.navbar {
  position: fixed;
  z-index: 1000;
  background: white;
  left: 0;
  right: 0;
  clear: both;
}

.navbar .topbar {
  height: 40px;
  background-color: #41eb96;
}

.navbar .topbar p {
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 12px;
}

.navbar .topbar p i {
  margin-right: 10px;
}

.navbar .nav {
  float: left;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav h1 {
  font-size: 20px;
  margin-left: 20px;
  color: #41eb96;
  padding-right: 15rem;
  padding-left: 2rem;
}

.navbar .nav a {
  font-size: 1.5rem;
  color: #41eb96;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-top: 8px;
}

.navbar .nav a:hover {
  background: #41eb96;
  color: white;
}

.navbar .nav .nav2 {
  float: right;
  padding-top: 10px;
  text-align: center;
  margin-right: 0.7rem;
  margin-left: 2rem;
}

.navbar .nav .nav3 {
  float: right;
  padding-left: 2rem;
  margin-right: 2rem;
}

.navbar .nav i {
  padding-right: 0.8rem;
}

.btn {
  margin-top: 0;
  border: 1px solid #41eb96;
  border-radius: 1rem;
  text-align: center;
}

.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 200px;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .fade {
  -webkit-animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  height: 717px;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home h3 {
  color: white;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.home p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
}

.what {
  background: white;
}

.what .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.what .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 3rem 4rem;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what .row .box img {
  padding-left: 25%;
}

.what .row .box h5 {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: normal;
  text-align: center;
}

.what .row .box p {
  font-size: 1rem;
  text-align: center;
  line-height: 2;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.app .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.app .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app .content a {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  border: 1px solid #fff;
  text-align: center;
  padding: 1.7rem;
}

.app .content a:hover {
  background: white;
  color: #41eb96;
}

.app h2 {
  color: white;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.app p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
  padding-bottom: 2rem;
}

.steps {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.steps .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.steps .content h2 {
  color: #000;
  font-size: 3.5rem;
  padding-bottom: 36px;
  padding-top: 4rem;
}

.steps .content h2 span {
  color: #41eb96;
}

.steps .content p {
  font-size: 1.5rem;
  padding-bottom: 4rem;
}

.steps .content a {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #41eb96;
  border: 1px solid #41eb96;
  text-align: center;
  padding: 1.7rem;
}

.steps .content a:hover {
  background: #41eb96;
  color: #fff;
}

.box-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10rem;
}

.box-container .circle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.box-container .circle h2 {
  font-size: 3.5rem;
}

.box-container .circle h5 {
  font-size: 1.7rem;
}

.box-container .circle p {
  font-size: 1.5rem;
}

h2.btn {
  border-radius: 50%;
  padding: 2rem;
  margin-left: 16rem;
  margin-right: 16rem;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 0;
  padding-top: 20px;
}

.download .content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.download .content h2 {
  font-size: 3.5rem;
  color: white;
}

.download .content p {
  font-size: 13px;
  line-height: 2;
  color: white;
  padding-bottom: 20px;
}

.download .content a {
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 1rem;
}

.download .content a:hover {
  background: #ffffff;
  color: #41eb96;
}

.download .content a .btn {
  color: white;
  font-size: 1rem;
}

.download .content a i {
  color: white;
}

.download .image {
  padding-left: 5rem;
  padding-bottom: 0;
}

.pricing {
  padding-top: 0;
  background-color: #fff;
  height: 995px;
}

.pricing .heading {
  text-align: center;
}

.pricing .heading h2 {
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
}

.pricing .heading p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.pricing .heading a {
  color: white;
  font-size: 1.5rem;
  background-color: #41eb96;
  padding: 0.5rem 4rem;
}

.pricing .heading img {
  padding-bottom: 2rem;
}

.pricing .period {
  text-align: center;
  padding-top: 35px;
}

.pricing .period a {
  padding: 1rem 3rem;
  background: #f4f3f3;
  border-radius: 20px;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: black;
}

.pricing .period a span {
  background: white;
  padding: 0.8rem;
  border-radius: 20px;
  margin-right: 20px;
}

.pricing .period p {
  padding-top: 30px;
  font-size: 1.5rem;
}

.pricing .period p span {
  background: #41eb96;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.pricing .header {
  padding-top: 50px;
  text-align: center;
}

.pricing .header span {
  background: #41eb96;
  color: white;
  font-size: 1.5rem;
  border: 1px solid;
  padding: 7px 79px;
}

.pricing .card {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 3.5rem;
}

.pricing .card .box {
  border: 1px solid #4eb3704a;
  -webkit-box-shadow: 0px 4px 10px #00000026;
          box-shadow: 0px 4px 10px #00000026;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 80px;
}

.pricing .card .box i {
  margin-right: 10px;
  color: #41eb96;
}

.pricing .card .box .expo {
  padding-top: 50px;
}

.pricing .card .box .expo h5 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: justify;
  padding-left: 50px;
  padding-right: 40px;
  padding-bottom: 20px;
  color: black;
}

.pricing .card .box .expo i {
  margin-right: 10px;
  clear: both;
}

.pricing .card .box h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.7rem;
}

.pricing .card .box a {
  padding: 10px 24px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #41eb96;
}

.pricing .card .box a #span {
  background: #41eb96;
  color: white;
}

.pricing .card .box p {
  font-size: 3.5rem;
  color: #41eb96;
  font-weight: bold;
  padding-bottom: 40px;
}

.pricing .card .box p .ngn {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.pricing .card .box p .s2 {
  font-size: 1.5rem;
}

.test {
  background: white;
  height: 650px;
}

.test .heading {
  text-align: center;
}

.test .heading h2 {
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
}

.test .heading p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.test .heading a {
  color: white;
  font-size: 2rem;
  background-color: #41eb96;
  padding: 1rem 4rem;
}

.test .heading a:hover {
  background: white;
  color: #41eb96;
  border: 1px solid #41eb96;
}

.test .heading img {
  padding-bottom: 2rem;
}

.testimonial {
  background: #f4f3f3;
  height: 500px;
}

.testimonial .heading {
  text-align: center;
}

.testimonial .heading h2 {
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
}

.testimonial .heading p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.testimonial .container {
  float: left;
  width: 33.33%;
  padding: 2rem;
}

.testimonial .container .box {
  border: 1px solid #4eb3704a;
  -webkit-box-shadow: 0px 4px 10px #00000026;
          box-shadow: 0px 4px 10px #00000026;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

.testimonial .container h6 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: normal;
}

.testimonial .container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  clear: both;
}

.testimonial .container h5 {
  padding-top: 15px;
}

.testimonial .container h5 .checked {
  color: orange;
}

.before {
  height: 40px;
  background: white;
}

.pref {
  height: 200px;
  background: black;
  color: white;
  padding-top: 1.5rem;
  display: block;
}

.pref h3 {
  font-size: 2.5rem;
}

.pref h3 img {
  height: 30px;
  margin-right: 10px;
}

.pref .container1 {
  float: left;
  width: 25%;
  padding: 1rem;
}

.pref .container {
  float: left;
  width: 33.3%;
  padding: 1rem;
}

.pref .container .subscribe h5 {
  font-size: 2rem;
}

.pref .container .subscribe p {
  font-size: 1rem;
}

.pref .container .subscribe input {
  padding: 0.5rem;
  width: 20rem;
  margin-top: 2rem;
}

.pref .container .subscribe a {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #c5c5c5;
  color: black;
}

.pref .container2 {
  float: right;
  width: 33.3%;
  padding-right: 0;
}

.pref .container2 .download h5 {
  font-size: 2rem;
}

.pref .container2 .download img {
  margin-right: 1.5rem;
}

.pref .container2 .download p {
  font-size: 1rem;
  margin-left: 5rem;
}

.pref .container2 .download a {
  font-size: 1rem;
  padding: 0.5rem 4rem;
  margin: 1rem;
  color: white;
  margin-top: 2rem;
}

.pref .container2 .download a span {
  text-transform: uppercase;
}

.after {
  height: 165px;
  background: white;
  text-align: center;
  padding-top: 10px;
}

.after h2 {
  font-size: 3.5rem;
}

.after img {
  margin-right: 30px;
}

.footer {
  background: #292727;
  height: 415px;
}

.footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .row .footer-col {
  width: 20%;
  padding: 0 15px;
}

.footer .container .row .footer-col ul {
  list-style: none;
}

.footer .container .row .footer-col ul li {
  line-height: 20px;
}

.footer .container .row .footer-col ul a {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.footer .container .row .footer-col h4 {
  color: #c5c5c5;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.footer .footer-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10rem;
}

.footer .footer-last .row {
  width: 80%;
}

.footer .footer-last .row a {
  font-size: 1rem;
  margin-right: 20px;
  color: white;
}

.footer .footer-last .row2 h4 {
  font-size: 1rem;
  color: white;
  padding-bottom: 10px;
  font-weight: normal;
}

.footer .footer-last .row2 img {
  margin-right: 20px;
  cursor: pointer;
}

/* register styling */
.register {
  background: white;
}

/* media queries  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1024px) {
  .box-container {
    padding-bottom: 0;
  }
  .box-container .circle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    text-align: center;
  }
  .box-container .circle h2 {
    font-size: 3rem;
  }
  .box-container .circle h5 {
    font-size: 1.5rem;
  }
  .box-container .circle p {
    font-size: 1rem;
  }
  h2.btn {
    border-radius: 0;
    border: 0;
    padding: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar .btn {
    display: none;
  }
  .what .row .box img {
    display: none;
  }
}

.app .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .what .row .box img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */